* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  header {
   height:130px;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
  max-width:100%;
    
    align-items: center;
    background-image:url('https://images.unsplash.com/photo-1475856500583-7322284f2131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80');
  background-size:50%;
  }
  @media (max-width: 100%) {
    header {
      flex-wrap: wrap;
    }
  }
  
  
  
  body {
    
    font-family: 'Montserrat', sans-serif;
  }
  
  #page-wrapper {
    position: relative;}
  #nav-bar{
    text-align:right;
    background-color:white;
    background-size:cover;
    height:130px;
    width:650px;
    max-width:100%;
   
    position:relative;
    top:0px;
    bottom:0;
    left:0;
    right:0;
  
    margin:auto;
    flex-direction: row;
    }
    .item{
      height:130px;
      width:130px;
      float:left;
     transform-style:preserve-3d;
      -webkit-transform-style:preserve-3d;
      
    }
  .front,.back{
    height:100%;
    width:100%;
     display:flex;
    justify-content:center;
    align-items:center;
    backface-visibility:hidden;
  }
  .item:nth-child(1)>div{
    background-color:#5fb3f9;
  }
  .item:nth-child(2)>div{
    background-color:#60ead3;
  }
  .item:nth-child(3)>div{
    background-color:#fda660;
  }
  .item:nth-child(4)>div{
    background-color:#fd7b87;
  }
  .item:nth-child(5)>div{
    background-color:#93c167;
  }
  
  a{
    color:white;
    font-size:20px;
    text-transform:uppercase;
    text-decoration:none;
    font-family:'Montserrat', sans-serif;
    font-weight:600;
  }
  .fa{
    color:white;
    font-size: 60px !important;
  }
  .back{
    position:relative;
    transform:rotateX(180deg);
    bottom:130px;
  }
  .item:hover{
    transform:rotateX(180deg);
    transition:1s;
  }